body {
    background-color: whitesmoke;
}

.hero-image {
    width: 100%;
    height:400px;
    background: url('https://res.cloudinary.com/ddaqqsr3r/image/upload/v1634119937/Food/rsz_pexels-adonyi-g%C3%A1bor-1414651_o6hnmk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    
}

.hero-text h1, p {
    color: white;  
    text-align: center;
    
}

.hero-text {
    
}
.card-img-top {
    width: 100%;
    height: auto
}

#logo {
    color: green;
}