{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://res.cloudinary.com/ddaqqsr3r/image/upload/v1634628737/Food/rsz_celebration-g313afc557_1920_hwucw8.jpg" alt="Evening dinner party" class="about-image">
            
        </div>
        <div class="col-12 col-md-6">
            <h3>About Us</h3>
            <p>This site came about as we wanted a place where we could easily share the recipes used during our regular book (and cook) club evenings.</p>
            <p>Then came lockdown and we wanted also to share our favourite 'feed the family easily' recipes</p>
            <p>So this website is an amalgamation of our gourmet dinner recipes and family-friendly weekday dinner recipes</p>
            <p>We also wanted the ability for users to store their own recipes in one place where they could edit and delete them if they wished</p>
            <p>All the recipes are vegetarian or fish as a few of the group don't eat meat.</p>
            <p>We hope you enjoy the recipes and please share your thoughts on them in the reviews section!</p>
        </div>
    </div>
    
</div>
{% endblock %}