{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 about-image-container">
            <img src="https://res.cloudinary.com/ddaqqsr3r/image/upload/v1634628737/Food/rsz_celebration-g313afc557_1920_hwucw8.jpg"
                alt="Evening dinner party" class="about-image img-fluid">
        </div>
        <div class="col-12 col-md-6 about-text">
            <h3>A Note About Us</h3>
            <p>This website came was inspired by my book club friends who wanted a website where we could easily share the recipes
                enjoyed during our regular book (and cook) club evenings. We've been meeting and eating for nearly 20 years so there's a lot of recipes!</p>
            <p>In the last couple of years when no one was able to eat out, we started sharing recipe ideas to feed the family. So this website is an amalgamation of our gourmet dinner recipes and family-friendly
                weekday dinner recipes</p>
            <p>The Favoureats website is a means to store and share your favourite recipes - everything in one place.</p>
            <p>All the recipes are vegetarian or fish as that's what we enjoy and we hope you do too! </p>
            <p> Please share your
                thoughts on our recipes in the reviews section!</p>
                Siobhan
        </div>
    </div>
    <div class="row button-container">
        <div class="col text-center vw-btn">
            <a class="btn btn-lg grn-btn" href="{% url 'recipes' %}">View the Recipes</a>
        </div>
    </div>
</div>
{% endblock %}