{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 about-image-container">
            <img src="https://res.cloudinary.com/ddaqqsr3r/image/upload/v1634628737/Food/rsz_celebration-g313afc557_1920_hwucw8.jpg" alt="Evening dinner party" class="about-image img-fluid">         
        </div>
        <div class="col-12 col-md-6 about-text">
            <h3>About Us</h3>
            <p>This website came about when a group of friends wanted a place where we could easily share the recipes enjoyed during our regular book (and cook) club evenings.</p>
            <p>In the recent years when we were stuck in our homes this expanded sharing our favourite 'feed the family easily' recipes. So this website is an amalgamation of our gourmet dinner recipes and family-friendly weekday dinner recipes</p>
            <p>We also wanted to store our own recipes in an online recipe book which we could edit and delete as we wished</p>
            <p>All the recipes are vegetarian or fish as that's what we enjoy and we hope you do too! Please share your thoughts on our recipes in the reviews section!</p>
        </div>
    </div>
    
</div>
{% endblock %}