{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
    <div class="container-fluid hero-container ">
        <div class="row hero-overlay hero-image img-fluid">
            <div class="col-12 hero-text">
                <h1>Favoureats</h1>
                <p>tried and tested favourite recipes</p>
                <p>choose from a selection and store your own favourites</p>
                {% if user.is_authenticated %}
                <p class="invisible"><a href="{% url 'account_signup' %}">Register now!</a></p>
                {% else %}
                <p><a href="{% url 'account_signup' %}" class="btn btn-lg btn-success">Register now!</a></p>
                {% endif %}
            </div>
            <div></div>
        </div>
    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12"></div>
        </div>
        <div class="row">
            <!-- Recipe Snapshot Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for recipe in recipe_list %}

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if 'placeholder' in recipe.recipe_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/ddaqqsr3r/image/upload/v1634930037/Food/rsz_1cook-gb536340c8_1920_rtayn0.jpg"
                                        alt="">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ recipe.recipe_image.url }} " alt="">
                                    {% endif %}
                                    <div>
                                        <h3 class="recipe-title card-title"> {{ recipe.title }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a class="btn btn-lg btn-success" href="{% url 'recipes' %}">View the Recipes</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}