{% extends "base.html" %}

{% block content %}

<h3>My Recipes</h3>

<table>
    <tr>
        <th>Recipe</th>

    </tr>

    {% for recipe in recipe_list %}
    <tr>
        <td>{{ recipe.title }}</td>
        <td><a href="{% url 'recipe_detail' recipe.slug %}">View</a></td>
        <td><a href="{#}"></a>Edit</td>
        <td><a href="{#}"></a>Delete</td>
    </tr>
    {% empty %}
        <h3>No recipes to view</h3>
    {% endfor %}



</table>
<a href="{% url 'recipecreate' %}">Add Recipe</a>




{% endblock %}