{% extends "base.html" %}

{% block content %}

<a href="{% url 'recipecreate' %}">Add Recipe</a>

<h3>My Recipes</h3>

<table>
    <tr>
        <th>Recipe</th>

    </tr>

    {% for recipe in recipe_list %}
    <tr>
        <td>{{ recipe.title }}</td>
        <td><a href="{% url 'recipe_detail' recipe.slug %}">View</a></td>
        <td><a href="{% url 'recipeedit' recipe.slug %}">Edit</a></td>
        <td><a href="{% url 'recipedelete' recipe.slug %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No recipes to view</h3>
    {% endfor %}



</table>





{% endblock %}