{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        

        <!-- Recipes Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if 'placeholder' in recipe.recipe_image.url %}
                                <img class="card-img-top" src="https://res.cloudinary.com/ddaqqsr3r/image/upload/v1632902970/pexels-ella-olsson-1640777_sketq6.jpg" alt="">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.recipe_image.url }} " alt="">
                                {% endif %}
                                <div class="image-banner">
                                    <p class="recipe-type"> {{ recipe.type }}</p>
                                </div>
                            </div>                          
                            <a href="#" class="recipe-link">
                                <h2 class="card-title"> {{ recipe.title }}</h2>
                                
                            </a>                       
                            <p class="card-text"> {{ recipe.introduction | safe }} </p>
                            <hr>
                            <p class="card-text">{{ post.created_on}}
                                <i class="far fa-star">{{ post.number_of_favourites }}</i>
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
        </div>
        </div>
    </div>
</div>

</div>

{% endblock %}