{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center input-group">
            <form method="GET" action="" class="recipe-search">
                <input type="text" name="search-area" class="btn btn-outline-secondary btn-sm" value="{{search_input}}" required=true>
                <input type="submit" class="btn btn-outline-secondary btn-sm" value="Search">
                <a href="{% url 'recipes' %}" class="btn btn-outline-secondary btn-sm" type="submit">&#x2715</a>
            </form>
        </div>
    </div>
    
    <div class="row">

        <!-- Recipes Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                
                {% for recipe in recipe_list %} 
                <!-- what is recipe_list and where's it from? why not recipe? Why recipe in myrecipes line 37 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if 'placeholder' in recipe.recipe_image.url %}
                                <img class="card-img-top"
                                src="https://res.cloudinary.com/ddaqqsr3r/image/upload/v1634930037/Food/rsz_1cook-gb536340c8_1920_rtayn0.jpg"
                                    alt="">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipe.recipe_image.url }} " alt="">
                                {% endif %}
                                <div class="image-banner">
                                    <p class="recipe-type"> {{ recipe.type }} / {{ recipe.category}}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' recipe.slug %}" class="recipe-link">
                                <h2 class="card-title"> {{ recipe.title }}</h2>

                            </a>
                            <hr>
                            <div>
                                <p>added by {{ recipe.author }} on
                                    {{ recipe.created_on}}</p>
                                <i class="far fa-star">{{ recipe.number_of_favourites }}</i>                              

                                {% with reviews.count as total_reviews %}
                                
                                <i class="far fa-comments" aria-hidden="true"> {{ recipe.reviews.count }} </i>
                                
                                {% endwith %}

                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}

            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}

    </ul>
</nav>

{% endif %}
</div>

</div>

{% endblock %}